@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-action: manipulation;
}

html, body {
  background-color: rgba(249, 250, 251, 1);
}

::-webkit-scrollbar {
  width: 3px;
}
  
::-webkit-scrollbar-track {
  background: #ffffff;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(192, 132, 252, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 72, 255);
}

input,
textarea,
select {
  font-size: 16px;
}