@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(249, 250, 251, 1);
}

::-webkit-scrollbar {
  width: 7px;
}
  
::-webkit-scrollbar-track {
  background: #ffffff;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(216, 180, 254, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 132, 252, 1);
}
  